* {

  margin: 0;
  padding: 0;
  

}

body {

  

}

#minhafoto {

  margin: auto;
  display: block;
  border-radius: 50%;
  margin-bottom: 5%;

}

.everything {

  margin: auto;
  max-width: 79%;
  height: auto;
  background-color: #BFC0C0;
  color: #2D2A32;
  padding: 15px;
  border-radius: 8px;

}

#header {

  text-align: center;
  font-size: 27px;
  padding-bottom: 8%;
  font-family: Arial, Helvetica, sans-serif;

}

.myself {

  text-align: center;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  padding-bottom: 8%;

}

#trybe_button {

  background-color: #144937;
  border-color: #144937;
  text-decoration: none;
  color: #f3f0f3;
  padding: 2px;
  border-radius: 4px;
  display: inline-block;

}

li:not(:last-child) {
  margin-bottom: 5px;
}

#allskills {

  text-align: center;

}

#skills {

  display: inline-block;
  width: 35%;
  margin-right: 10%;

}

#hskills {

  display: inline-block;
  width: 35%;
  margin-left: 10%;
}

#skills, #hskills {

  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  vertical-align: top;
  margin-top: 7%;
  border-radius: 8px;
  padding: 7px;
  padding-top: 20px;
  background-color: #BFC0C0;
  color: #2D2A32;
  list-style-position: inside;
  height: 15em;
  margin-bottom: 10%;

}

.indice_interno {

  text-align: left;
  display: inline-block;
  margin-top: 10px;

}

.indice_button {

  padding: 7px;
  border-radius: 4px;
  border-color: #BFC0C0;
  background-color: #BFC0C0;
  color: #2D2A32;
  text-decoration: none;
  position: fixed;

}

.referencia_osu {

  text-align: right;

}

#joguinho {

  padding: 7px;
  border-radius: 4px;
  border-color: #BFC0C0;
  background-color: #BFC0C0;
  color: #2D2A32;
  text-decoration: none;
  display: inline-block;
  
}