* {

  margin: 0;
  padding: 0;

}

#minhafoto {

  margin: auto;
  display: block;
  border-radius: 50%;
  margin-bottom: 5%;
}

.everything {

  margin: auto;
  max-width: 90%;
  height: auto;
  background-color: #0d0d0d;
  color: #FBFFFE;

}

#header {

  text-align: center;
  font-size: 27px;
  padding-bottom: 8%;
  font-family: Arial, Helvetica, sans-serif;

}

#myself {

  text-align: center;
  max-width: 90%;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  padding-bottom: 8%;

}

#trybe_button {

  background-color: #144937;
  border-color: #144937;
  text-decoration: none;
  color: #f3f0f3;
  padding: 2px;
  border-radius: 4px;
  display: inline-block;

}

li:not(:last-child) {
  margin-bottom: 5px;
}

#allskills {

  text-align: center;

}

#allskills h4 {

  vertical-align: text-top;

}

#skills {

  display: inline-block;
  width: 45%;
  margin-top: 7%;
  margin-bottom: 50%;
  vertical-align: middle;

}

#hskills {

  display: inline-block;
  width: 45%;
  margin-top: 7%;
  margin-bottom: 50%;
  vertical-align: middle;

}